body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
}

header {
    background-color: black;
    text-align: center;
    padding: 100px 0;
    background-image: url(/images/stars.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #28282B;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #FFCE00; /* Slightly darker yellow on hover */
    color: black;
}
#user {
    float: right;
}
.fixed-navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

#natgeo_logo {
    max-width: 100.1px;
    margin-top: 1.1px;
    margin-left: 2px;
    margin-right: 2px;
}

.logo {
    position: fixed;
    top: 7.3%;
    left: 0;
    width: 125px;
}
#ngl {
    padding: 0;
    background-color: black;
}

h3 {
    padding: 40px;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    text-align: center;
    font-size: xxx-large;
}

.line {
    background-color: #fc0;
    height: 4px;
    margin-left: 45%;
    width: 8%;
    margin-bottom: 40px;
}

.final {
    color: #fff;
    font-family: GeoBrandBold, CenturyGothic, AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    height: 300px;
    background-image: url(/images/roads.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;/*inetrnet helps*/
    background-size: cover;
    background-position: center;/*inetrnet helps*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.final .big {
    font-size: xx-large;
}
button{
    background-color: #FFCE00;
    color: black;
    font-size: large;
    font-weight: bold;
    border: none;
    width: 200px;
    height: 70px;
    cursor: pointer;
}
button:hover{
    background-color: black;
    color: #FFCE00;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 30px;
}

.bar{
    background-color: white;
    width: 100%;
    height: 50px;
    color: black;
}
.bar h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 70%;
    padding: 13.1px;
    color: black;
    font-size: medium;
}
.bar-line {
    background-color: #fc0;
    height: 4px;
    margin-left: 10.7%;
    width: 8.5%;
}

/**/

.articles {
    background-color: whitesmoke;
}
.articles a {
    text-decoration: none;
}

.animals-div {
    display: flex;
    gap: 35px;
}
#animals-latest p {
    font-weight: bolder;
}

#bird {
    background-color: white;
    margin-left: 10%;
    width: 40%;
    transition: transform 0.5s;
}
#bird:hover {
    transform: scale(1.05);
}
#bird img {
    width: 100%;
}
#bird p {
    padding: 10px;
    color: black;
    font-weight: bolder;
    font-size: larger;
}

#fossil {
    background-color: white;
    width: 115%;
    height: 30%;
    transition: transform 0.5s;
}
#fossil p {
    font-size: small;
    font-weight: bold;
    color: black;
    padding-top: 15px;
}
#fossil img {
    position: relative;
    float: left;
    height: 100%;
    width: 50%;
    margin-right: 15px;
}
#fossil:hover {
    transform: scale(1.05);
}

#fish {
    background-color: white;
    width: 115%;
    height: 30%;
    transition: transform 0.5s;
}
#fish p {
    font-size: small;
    font-weight: bold;
    color: black;
    padding-top: 15px;
}
#fish img {
    position: relative;
    float: left;
    height: 100%;
    width: 50%;
    margin-right: 15px;
}
#fish:hover {
    transform: scale(1.05);
}

#coral {
    background-color: white;
    width: 115%;
    height: 30%;
    transition: transform 0.5s;
}
#coral p {
    font-size: small;
    font-weight: bold;
    color: black;
    padding-top: 15px;
}
#coral img {
    position: relative;
    float: left;
    height: 100%;
    width: 50%;
    margin-right: 15px;
}
#coral:hover {
    transform: scale(1.05);
}

/**/

.art {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#all {
    background-color: white;
    width: 310px;
    height: 423px;
    transition: transform 0.5s;
}
#all:hover {
    transform: scale(1.05);
}
#all img {
    width: 100%;
}
#all a{
    text-decoration: none;
}
#all p {
    color: black;
    font-weight: bolder;
    font-size: larger;
}
#all .foot{
    padding: 15px 18px;
}

/**/

.art2 {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#all2 {
    background-color: white;
    width: 649px;
    height: 232px;
    transition: transform 0.5s;
    margin-left: 135px;
}
#all2:hover {
    transform: scale(1.05);
}
#all2 img {
    flex-basis: 314px;
    float: left;
    margin-right: 20px;
    height: 100%;
}
#all2 a{
    text-decoration: none;
}
#all2 p {
    color: black;
    font-weight: bolder;
    font-size: larger;
}
#all2 .foot2{
    padding: 25px 30px 30px;
}